.progress-bar {
	--stripe-gap: 2px;
	--stripe-size: 3px;
	--stripe-color: green;
	background:
		repeating-linear-gradient(
			-55deg,
			transparent,
			transparent var(--stripe-gap),
			var(--stripe-color) var(--stripe-gap),
			var(--stripe-color) calc(var(--stripe-size) + var(--stripe-gap))
		);
}
